@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/014/919/857/non_2x/chinese-new-year-background-design-with-flowers-and-paper-fan-on-red-texture-free-vector.jpg");
    background-size: cover;
    font-family: Merienda;
}
.baucua {
    background-color: #9a0f15;
    width: 40%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.money {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}
.money b {
    color: #efd184;
}
.result {
    text-align: center;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
}
.result p {
    margin-bottom: 10px;
}
.result p span {
    font-weight: bold;
}
.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.board .item {
    width: calc(100% / 3 - 10px);
    text-align: center;
}
.board .item input {
    width: 20px;
    height: 20px;
    margin-top: 15px;
}
.play {
    width: 30%;
    background-color: #efd184;
    margin: 15px auto 0;
    display: block;
    padding: 10px 0;
    border-radius: 5px;
    color: #9a0f15;
    font-weight: bold;
    font-size: 25px;
}
.img {
    width: 30%;
    margin: 30px auto;
    display: none;
}
